@media (max-width: 1000px) {
  .product {
    width: 50%;
    margin-bottom: 50px;
  }
}

@media (max-width: 670px) {
  .product {
    width: 100%;
  }
  .footer {
    text-align: center;
  }
  .btn {
    width: 100%;
  }
  .facebook {
    margin-bottom: 10px;
  }
  .top-wrapper {
    text-align: left;
    padding-top: 130px;
  }
}
